---
import Main from "../layouts/Main.astro";
const pageTitle = "About me | Joanna Hosking - Web Developer";
import { Image } from "astro:assets";
import me from "../assets/images/me.jpg";
const igRes = await fetch("https://feeds.behold.so/cXKKK7y6nxKVE2io1XFe");
const igData = await igRes.json();
---

<Main pageTitle={pageTitle}>
  <section>

    <h1>About me</h1>
    <figure class="scroll">
      <Image src={me} alt="" />
    </figure>
    <p>
      I'm a web developer based in the UK. You can currently find me building
      bespoke Wordpress themes and plugins at <a
        href="https://cooperfields.co.uk"
        target="_blank"
        rel="noreferrer">Cooperfields</a
      >.
    </p>
    <p>
      I'm a University of Arizona alumni <em>(go Wildcats!)</em> and am now based in
      the West Midlands. I love diving into new technologies and have a particular
      fondness for the latest CSS features hiding behind experimental flags.
    </p>
    <ul class="ig-feed">
      {
        igData.posts.map((post) => (
          <li>
            <a href={post.permalink} class="ig-post">
              <img src={post.sizes.small.mediaUrl} alt={post.caption} />
            </a>
          </li>
        ))
      }
    </ul>
    <p>
      When I'm not writing code, you'll likely find me sunbathing in the garden
      with my dog, gaming with my husband, or strumming the guitar.
    </p>
    <p>
      If you'd like to connect, you can reach me at <a
        href="mailto:hello@joannahosking.com">hello@joannahosking.com</a
      >.
    </p>
  </section>
  <section>
    <h2>Experience</h2>
  </section>
  <section>
    <h2>Expertise</h2>
  </section>
</Main>

<style>
  .scroll {
    display: block;
    aspect-ratio: 10 / 4;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
      aspect-ratio: 2 / 1;
      object-fit: cover;
    }
  }

  .ig-feed {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin: 0 0 1rem;
    padding: 0;

    @media (min-width: 400px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    img {
      display: block;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const figure = document.querySelector(".scroll");
  const img = figure.querySelector("img");

  gsap.to(img, {
    scrollTrigger: {
      trigger: figure,
      start: "top 50%",
      end: "bottom top",
      scrub: 0.5,
      invalidateOnRefresh: true,
    },
    y: figure.offsetHeight - img.offsetHeight,
    ease: "none",
  });
</script>
