---
import Main from "../layouts/Main.astro";
const pageTitle = "Joanna Hosking - Web Developer";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const allProjects = await getCollection("projects");
allProjects.sort((a, b) => (a.data.sortOrder < b.data.sortOrder ? -1 : 1));
import iconWeb from "../assets/icons/project-web.svg";
import iconGame from "../assets/icons/project-game.svg";
import iconDesign from "../assets/icons/project-design.svg";
const iconMap = {
  web: iconWeb,
  game: iconGame,
  design: iconDesign,
};
// const allPosts = await getCollection("posts");
// allPosts.sort((a, b) => (a.data.pubDate > b.data.pubDate ? -1 : 1));
---

<Main pageTitle={pageTitle}>
  <section class="hero">
    <h1>👋🏼<br />Hello, I'm Joanna.</h1>
    <p>
      I'm a web developer in the West Midlands, cultivating this small digital
      garden. <a href="/about">Learn more &rarr;</a>
    </p>
  </section>
  <section class="projects">
    <h2>Selected projects</h2>
    <ul>
      {
        allProjects.map((project) => (
          <li>
            <p>
              <figure class="icon">
                <Image src={iconMap[project.data.icon as string]} alt="" width="22" height="22" />
              </figure>{" "}
              <a href={`/projects/${project.slug}`}>{project.data.shortname}</a>
              : {project.data.description}
            </p>
          </li>
        ))
      }
    </ul>
  </section>
  <!-- <section class="blog">
    <h2>Notes</h2>
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}`} class="post-link">
              <>
                <span>{post.data.title}</span>
                <span>
                  Read
                  <span class="expand" /> &rarr;
                </span>
              </>
            </a>
          </li>
        ))
      }
    </ul>
  </section> -->
  <section class="contact">
    <h2>Let's chat...</h2>
    <p>
      <a href="mailto:hello@joannahosking.com">hello@joannahosking.com &rarr;</a
      >
    </p>
  </section>
</Main>

<style>
  .projects {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0.5rem 0;
    }

    .icon {
      position: relative;
      display: inline-block;
      width: 1.35rem;
      height: 1.35rem;
      margin-right: 0.125rem;
      vertical-align: middle;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .blog {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      border-top: 1px solid currentColor;
    }

    li {
      border-bottom: 1px solid currentColor;

      a {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-block: 0.25rem;
        color: currentColor;
        text-decoration: none;
        overflow: hidden;

        .expand {
          transition: margin 0.25s ease-in-out;
        }

        @media (hover) {
          &:hover,
          &:focus-within {
            .expand {
              margin-left: 0.25rem;
            }
          }
        }

        span:last-child {
          font-size: 0.9rem;
          font-weight: 700;
          text-transform: uppercase;
          white-space: nowrap;

          @media (max-width: 650px) {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  function initCursorAnimation() {
    const blogItems = gsap.utils.toArray(".blog li a");
    const cursor = document.querySelector("#cursor");

    if (!cursor) return;

    blogItems.forEach((item: HTMLElement) => {
      item.addEventListener("mouseenter", () => {
        gsap.to(cursor, {
          width: "2rem",
          height: "2rem",
          backgroundColor: "var(--accent-color)",
          opacity: 0.25,
          duration: 0.25,
          zIndex: -1,
        });
      });

      item.addEventListener("mouseleave", () => {
        gsap.to(cursor, {
          width: "0.75rem",
          height: "0.75rem",
          backgroundColor: "var(--alt-color)",
          opacity: 1,
          duration: 0.25,
          zIndex: 1,
        });
      });
    });
  }

  initCursorAnimation();

  document.addEventListener("astro:after-swap", () => {
    initCursorAnimation();
  });
</script>
